<!--The content below is only a placeholder and can be replaced.-->
<div class="parentContent">
    <div class="title">
        <h1>
            {{ title }}!, no more Hi everyone(viewChildren)
            <input type="checkbox" (change)="stopSayingHi($event)" />
            <br/> {{ title }}!, no more First one(viewChild)
            <input type="checkbox" (change)="stopSayingHiFirstChild($event)" />
        </h1>
    </div>
    <div class="parentContent-body-content">
        <div>
            <ul>
                <li *ngFor="let child of children">
                    <app-child-component #childComp (sayHi)="greeting($event)" (sayMessage)="message($event)" [dataChild]="child"></app-child-component>
                </li>
            </ul>
        </div>
        <div class="parentContent-body-content-messages">
            <ul>
                <li *ngFor="let message of messages">
                    <strong>{{message.name | upperPipe:'addx'}}:</strong>
                    <span appBkgColor>{{message.text}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>